
            h1.center {
                text-align: center;
            }
            h3.center {
                text-align: center;
            }
            p.left {
                text-align: center;
            }
            p.center {
                text-align: center;
            }
            h2.center {
                text-align: center;
            }
            a.center {
                text-align: center;
            }
            .cham:hover {
                color: red;
            }
                .examp1:hover {
        color: red;
    }  .large  { font-size: large;}
    h1  {
        color: #CC66FF ;
        font-family: Courier;
        font-size:  200%;
      }
      h3  {
        font-family: Courier;
        font-size:  200%;
      }
      #chuky{
        color: #0c093c ;
        font-family: TH Jalliya Seven;
        font-size:  1000%;
      }
      h4.center {
        text-align: center;
      }
    a:link, a:visited {
        background-color: #f44336;
        color: white;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
      }
      
      a:hover, a:active {
        background-color: red;
      }

      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      td, th {
        border: 1px solid #000000;
        text-align: left;
        padding: 8px;
      }
      
      tr:nth-child(even) {
        background-color: #dddddd;
      }
      p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 285px;
        margin-inline-end: 285px;
    }
